.wrapper {
    height: calc(100%);
    max-width: 305px;
    width: 100%;
    border-radius: 0px 50px;
    background: var(--background);
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.08);
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 48px 48px;
    overflow-y: auto;
}

.headerMobile {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    z-index: 40;

    .div{
        height: 50px;
        opacity: 0;
        z-index: -1;
    }

    .filterSpan {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 2px solid var(--gray-500);
        padding: 0 5px 0 10px;
        z-index: 3;
        transition: all 0.2s ease-in-out 0.01s;

        span {
            color: var(--gray-500);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: -0.5px;
            transition: all 0.2s ease-in-out 0.01s;
        }

        img {
            filter: grayscale(1);
        }
    }

    [data-open="true"] {
        border-color: var(--gray-900);
        span {
            color: var(--gray-900);
        }

        img {
            filter: grayscale(0);
        }
    }
}

.filtersBlock {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 5px);
    height: fit-content;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    padding: 20px;
    background: var(--background);
    backdrop-filter: blur(4px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 2px solid var(--gray-900);
    transition: all 0.2s ease-in-out 0.01s;
    z-index: 30;

    &[data-open-filter-block="true"] {
        opacity: 1;
        visibility: visible;
    }
}
