.wrapper {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: var(--background);
    box-shadow: 0px 5px 7.5px 0px rgba(0, 0, 0, 0.12);
    z-index: 2;
    overflow: hidden;

    & > header {
        position: sticky;
        top: 0;
        width: 100%;
        height: 98px;
        padding: 10px 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 10px 10px 0px 0px;
        background: var(--background);
        box-shadow: 0px 5px 7.5px 0px rgba(0, 0, 0, 0.12);

        & > h2 {
            color: var(--color-text);
            font-size: 30px;
            font-style: normal;
            font-weight: 500;
        }
    }

    & > section {
        width: 100%;
        height: calc(100% - 98px);
        display: grid;
        padding: 20px;
        overflow-y: auto;
        grid-template-columns: repeat(4, calc(25% - 8px));
        @media screen and (max-width: 1600px) {
            grid-template-columns: repeat(3, calc(33% - 3px));
        }
        @media screen and (max-width: 1380px) {
            grid-template-columns: repeat(2, calc(50% - 5px));
        }
        @media screen and (max-width: 950px) {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
        }
        gap: 10px 10px;

        & > h4 {
            color: var(--gray-800);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
        }
    }
}

@media screen and (max-width: 746px) {
    .wrapper {
        height: calc(100% - 68px);
        & > header {
            height: 68px;
            padding: 10px 20px;

            & > h2 {
                font-size: 25px;
            }
        }
        & > section {
            height: calc(100% - 68px);
            & > h4 {
                font-size: 16px;
            }
        }
    }
}
