.containerLinks {
    display: flex;
    flex-direction: column;
    gap: 18px;

    li,
    a {
        cursor: pointer;
        color: var(--gray-400);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        transition: color var(--transition);

        &[data-active="true"] {
            color: var(--gray-900);
        }
    }
}
