.containerLinks {
    display: flex;
    flex-direction: column;
    gap: 18px;

    li {
        cursor: pointer;
        span {
            color: var(--gray-400);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            transition: all 0.2s ease-in-out 0.01s;
        }

        &.active {
            span {
                color: var(--color-text);
            }
        }
    }
}
