.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    overflow-y: auto;

    @media screen and (max-width: 746px) {
        justify-content: center;
    }
}
