.wrapper {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.62);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out 0.01s;
    z-index: 1020;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    & > ul {
        background: var(-background);
        padding: 20px;
        overflow-y: scroll;
        height: calc(100% - 40px);
    }
}
