.wrapper {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 140px;

    @media screen and (max-width: 1180px) {
        padding: 40px;
    }

    @media screen and (max-width: 780px) {
        padding: 20px;
    }

    & > [data-filters] {
        width: 100%;
        border-radius: 40px;
        background: #fff;
        box-shadow: 0px 5px 7.5px 0px rgba(0, 0, 0, 0.08);
        padding: 30px 40px;

        display: flex;
        flex-direction: row;

        & > [data-divider] {
            width: 3px;
        }

        & > [data-item-filter] {
            padding: 0 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;

            & > p {
                color: #000;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
            }

            & > [data-label-inputs] {
                width: fit-content;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;

                & > input {
                    width: 100%;
                    padding: 12px 14px;
                    height: 46px;
                    border-radius: 7px;
                    color: var(--gary-800);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    letter-spacing: -0.3px;
                    border: 1px solid var(--gray-300);
                    outline: 2px solid var(--gray-100);
                    transition: all 0.03s ease-in-out 0.01s;
                }
            }

            &[data-categories] {
                width: calc(100% - 40px - 40px - 50px - 50px - 3px - 50px - 50px);
                height: fit-content;

                & > [data-categories-list] {
                    width: 100%;
                    height: fit-content;
                    overflow: hidden;
                    overflow-x: scroll;
                    scroll-snap-type: x proximity;
                    display: flex;
                    flex-direction: row;
                    gap: 16px;

                    & > [data-item] {
                        border-radius: 10px;
                        opacity: 0.75;
                        background: #fff;
                        box-shadow: 0px 6px 7.5px 0px rgba(0, 0, 0, 0.08);
                        overflow: hidden;
                        max-width: 250px;
                        width: 100%;
                        flex-shrink: 0;
                        height: fit-content;
                        cursor: pointer;

                        & > header {
                            padding: 10px 20px;
                            border-radius: 10px 10px 0px 0px;
                            background: #fff;
                            box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.08);

                            & > h3 {
                                color: var(--gray-500);
                                font-size: 18px;
                                font-weight: 500;
                            }
                        }

                        & > section {
                            padding: 10px 20px;
                            height: fit-content;

                            & > p {
                                color: var(--gray-500);
                                font-size: 14px;
                                font-weight: 500;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-line-clamp: 5;
                                -webkit-box-orient: vertical;
                            }
                        }

                        &[data-active="true"] {
                            & > header {
                                & > h3 {
                                    color: #f00;
                                }
                            }
                            & > section {
                                & > p {
                                    color: var(--color-text);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & > section {
        width: 100%;

        display: grid;
        gap: 60px 60px;
        grid-template-columns: repeat(5, 1fr);
        z-index: 2;

        @media screen and (max-width: 1720px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media screen and (max-width: 1440px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 1180px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 780px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.itemContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    aspect-ratio: 275/421 !important;
    border-radius: 10px;
    background: var(--background);
    box-shadow: 0px 6px 7.5px 0px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    cursor: pointer;

    img {
        aspect-ratio: 275/298 !important;
        width: 100%;
        object-fit: cover;
        border-radius: 10px 10px 50px 0px;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.08);
    }

    .title {
        aspect-ratio: 275/123 !important;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        p {
            color: var(--text-color);
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
        }
    }
}
