.wrapper {
    padding: 20px 60px;
    height: 98px;
    width: 100%;
    background: var(--glass-bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
