.wrapper {
    width: 100%;
    border-radius: 10px;
    background: var(--background);
    box-shadow: 0px 5px 7.5px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    z-index: 2;

    & > header {
        position: sticky;
        height: 98px;
        width: 100%;
        padding: 10px 30px;
        border-radius: 10px 10px 0px 0px;
        background: var(--background);
        box-shadow: 0px 2px 7.5px 0px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        & > h3 {
            color: var(--black);
            font-size: 30px;
            font-weight: 400;
            line-height: 120%;
        }

        .buttonCancel {
            max-width: 180px;
            width: 100%;
            padding: 8px 16px;
            border-radius: 7px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: transparent !important;
            border: 2px solid var(--black);
            cursor: pointer;

            span {
                color: var(--black);
                font-size: 20px;
                font-weight: 400;
                line-height: 120%;
            }
        }
    }

    & > section {
        width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width: 746px) {
    .wrapper {
        overflow-y: auto;
        height: calc(100% - 68px);
        & > header {
            height: 68px;
            padding: 10px;
            & > h3 {
                font-size: 25px;
            }

            .buttonCancel {
                max-width: min-content;

                span {
                    font-size: 16px;
                }
            }
        }
    }
}
