.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 360px;
    height: fit-content;

    & > section,
    & > form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        border-radius: 24px;
        overflow: hidden;
        border: 1px solid var(--gray-300);
        padding: 1rem;
        max-width: 340px;
        width: 100%;

        & > h3 {
            font-weight: 600;
            font-size: 20px;
            line-height: 15px;
            color: var(--primary-700);
        }

        p {
            font-size: 15px;
            font-weight: 500;
            color: var(--gray-600);

            & > span {
                font-weight: 600;
                color: var(--gray-800);
            }
        }

        h4 {
            font-size: 15px;
            font-weight: 500;
            color: var(--error-600);
        }
    }

    & > form {
        & > [data-grid] {
            width: calc(100%);
            display: flex;
            flex-direction: row;
            gap: 8px;
            flex-wrap: wrap;

            & > [data-item-grid] {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2px;
                cursor: pointer;

                & > [data-radio] {
                    width: 14px;
                    height: 14px;
                    border: 2px solid var(--gray-300);
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: border var(--transition);
                    & > div {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background: transparent;
                        transition: background var(--transition);
                    }
                }

                & > span {
                    color: var(--gray-300);
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    letter-spacing: -0.3px;
                    transition: color, font-weight var(--transition);
                }

                &[data-is="true"] {
                    & > [data-radio] {
                        border: 2px solid var(--gray-900);
                        & > div {
                            background: var(--gray-900);
                        }
                    }

                    & > span {
                        color: var(--gray-900);
                    }
                }
            }
        }
        & > [data-input] {
            width: 100%;
            height: 0px;
            display: flex;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 4px;
            transition: height var(--transition);

            & > input {
                border-radius: 100px;
                border: 1px solid var(--gray-300);
                background: var(--gray-100);
                padding: 6px 12px;
                color: var(--gray-800);
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: -0.3px;
            }

            &[data-input="true"] {
                height: fit-content;
            }
        }

        & > footer {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;

            & > button {
                width: 100%;
                background: var(--red);
                border: 1.5px solid var(--red);
                height: 44px;
                outline: none;
                padding: 8px 16px;
                border-radius: 7px;
                transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                & > span {
                    color: var(--gray-50);
                    font-size: 18px;
                    border-radius: 4px;
                    font-weight: 600;
                    line-height: 20px;
                    text-align: center;
                    transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
                    vertical-align: middle;
                }
            }
        }
    }
}
