.wrapper {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    background: var(--background);
    box-shadow: 0px 5px 7.5px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
    z-index: 2;

    & > header {
        height: 98px;
        display: flex;
        padding: 10px 30px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 0px 2px 7.5px 0px rgba(0, 0, 0, 0.08);

        & > h2 {
            color: var(--color-text);
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
        }
    }

    &.mobile {
        justify-content: space-between;
        overflow-y: auto;
        height: calc(100vh - 68px - 68px - 20px - 20px);
        & > header {
            height: 68px;
            padding: 10px 20px;
            justify-content: space-between;
            position: sticky;
            top: 0;
            background: var(--background);

            & > h2 {
                font-size: 25px;
                line-height: 28px;
            }
        }
        .mainInfo {
            padding: 20px;
        }

        .photo {
            padding: 20px;
            img {
                height: auto;
                width: 100%;
                aspect-ratio: 1/1;
            }
        }
    }
}

.photo {
    img {
        object-fit: cover;
        border-radius: 24px;
        border: 6px solid var(--background);
        box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.16);
    }
}

.mainInfo {
    padding: 20px 60px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 8px));
    @media screen and (max-width: 1600px) {
        grid-template-columns: repeat(3, calc(33% - 3px));
    }
    @media screen and (max-width: 1380px) {
        grid-template-columns: repeat(2, calc(50% - 5px));
    }
    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(1, calc(100%));
    }
    gap: 20px 20px;
}
